.nologinpage{
    margin: 0 auto 0 auto;
    padding-top: 50px;
}

/*버튼 + 컴포넌트*/
#component_div{
    display: grid;
    grid-template-columns: 0.8fr 4.3fr 0.7fr;
    margin: 0 auto 0 auto;
    text-align: center;
    width: 100%;
    height: 600px;
}

#com0_div{
    padding-top: 100px;
}

#com0_div h2{
    font-size: 30px;
}

#com0_div h4{
    font-size: 22px;
}
/*로그인 버튼*/
#login_zone{
    width: 100%;
    height: 110px;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

.loginzone_button{
    margin-top:30px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    font-size: 15pt;
}


/*버튼*/
#buttons{
    border-right: 1.5px solid black;
    padding-top: 20px;
    height: 100%;
}

#buttons button{
    width: 100%;
    height: 70px;
    font-size: 20pt;
    background-color: white;
    border: 0px solid black;
}

#buttons button:hover{
    background-color: rgba(241, 169, 194, 0.753);
}

/*컴포넌트 1*/
#com1_div{
    padding-top:100px;
}

/*당도 측정 결과 출력*/
#com1_output{
    margin: 0 auto 0 auto;
    width: 700px
}

#com1_output h3{
    text-align: left;
}
/*드롭존*/
#dropzone{
    width: 700px;
    height: 100px;
    margin: 0 auto 0 auto;
    border: 1px solid black;
    cursor: pointer;
}

#dropzone h2{
    margin: 0 auto 0 auto;
    padding: 35px;
}
/*이미지*/
#image{
    width: 300px;
    height: 300px;
}

/*컴포넌트 2*/
#com2_div{
    padding-top: 50px;
}

#showdatadiv{
   display: block;
   width: 300px;
   height: fit-content;
   margin: 0 auto 0 auto;
}

.showdata{
    border: 1px solid black;
    width: 300px;
    height: fit-content;
    margin: 5px auto 0px auto;
    background-color: white;
    padding: 0;
}

.showdata h1{
    margin: 0;
}

.detaildata{
    border: 0px;
    width: 0px;
    height: 0px;
    margin: 0 auto 5px auto;
    background-color: rgb(34, 202, 90);
    padding: 0;
    color: white;
    text-align: left;
}

.detaildata h2{
    margin-left: 10px;
}

/*컴포넌트 3*/
#com3_div{
    text-align: left;
    margin-left: 80px;
}

#com3_div h2{
    color: rgb(45, 0, 168);
    margin-bottom: 0;
}

#todayWeather{
    display: flex;
    width: 680px;
}

.weather_div{
    border: 1px solid black;
    margin-bottom: 10px;
    padding-left: 5px;
}

/*컴포넌트 4*/
#com4_div{
    padding-top: 100px;
}

/*로그인 요구 화면*/
#comx{
    padding-top: 100px;
}

/*로그인 화면*/
#login_div{
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 500px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
}

.input_div{
    display:flex;
    margin: 0 auto 0 auto;
}

.input{
    margin-top: 17px;
    width: 200px;
    height: 30px;
}

.login_button_div{
    margin-bottom: 20px;
}

.login_button{
    width: 100px;
    height: fit-content;
    font-size: 15pt;
    margin: 2px 5px 0px 5px;
}

.text_div{
    width: 130px;
}

.box_div{
    width: 200px;
}

/*회원가입 화면*/
#signup_div{
    margin: 100px auto 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 500px;
    height: fit-content;
    background-color: white;
    border: 1px solid black;
}